.playerList {
  margin: 20px auto;
  width: 100%;
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    thead {
      background-color: #ee342c;

      tr {
        th {
          padding: 0.5rem;
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}