.container {
  padding: 20px;
  width: 25%;
  color: white;
  background-color: #11111d;
  height: 100vh;
  position: sticky;
    top: 0;
  .hidden {
    visibility: hidden;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}