.container {
  padding: 20px;
  width: 35%;
  background-color: white;
  color: black;
  height: 100vh;
  position: sticky;
  top: 0;
  .hidden {
    visibility: hidden;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #11111d;
  }

  .betWrap {
    list-style-type: none;
    .bet {
      margin: 10px;
      padding: 10px 20px;
      background-color: #1a1a2e;
      color: white;
      border-radius: 10px;
    }
  }
}