.profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    width: 500px;

    .infoItem {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #ccc;
      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
      }
      h3 {
        width: 100%;
        padding: 5px 10px;
      }
      p {
        width: 100%;
        padding: 5px 10px;
        background-color: #cccccc;
        color: gray;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    max-width: 400px;
    width: 100%;
    .info {
      width: 100%;
    }
  }
}