.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h2 {
      font-size: 2rem;
      color: black;
      margin-bottom: 20px;
    }
    .differenceTitle {
      margin: 20px 0;
    }
    .bets_stat {
      display: flex;
      align-items: center;
      width: 400px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 700px;
    margin: 0 auto;
  }
}