.container {
  margin-top: 20px;
  margin-right: 10px;
  thead {
    background-color: #ee342c;
    color: white;
    th {
      font-size: 18px;
      color: white;
      text-transform: uppercase;
    }
  }
}