.raceCard {
  display: flex;
  flex-direction: column;
  padding: 0 16px 8px 16px;
  margin-bottom: 8px;
  background-color: white;
  &:last-child {
      .rate {
        border-bottom: none;
      }
    }
  .intro {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .dateWrap {
    text-align: right;
    h4 {
      color: gray;
      margin-bottom: 10px;
    }
  }
  .rate {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    .rateItem {
      display: flex;
      .part {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gold;
        padding: 12px 16px;
      }
    }
  }
}