.raceCard {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  margin: 16px 0;
  background-color: white;
  color: #11111d !important;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .dateWrap {
    width: 100%;
    margin-bottom: 10px;
  }
  .rate {
    width: 100%;
    .rateItem {
      display: flex;
      .part {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gold;
        padding: 12px 16px;
      }
    }
  }
}