.card {
  max-width: 100%;
  position: relative;
  margin-bottom: 20px;

  &:hover {
    .absBtn {
      opacity: 1;
    }
  }

  .absBtn {
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
  }

  .media {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    background-color: #1a1a2e;
    margin-bottom: 20px;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);

    .location {
      font-size: 20px;
      font-weight: 700;
      color: white;
      margin: 10px;
    }

    .title {
      position: absolute;
      bottom: 20px;
      right: 20px;
      text-align: right;
      color: white;

      h2 {
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
  }

  .wrapper {
    display: flex;
    margin: 32px;
    justify-content: space-around;

    .item {
      display: flex;
      padding: 4px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-right: 24px;

      &:nth-child(1) {
        border: 2px solid lightgray;
      }

      &:nth-child(2) {
        border: 2px solid black;
      }

      &:nth-child(3) {
        border: 2px solid red;
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
        margin: 12px;
      }
    }
  }
}
