.card {
  max-width: 85%;
  margin: 20px auto 0;
}
.wrapper {
  display: flex;
  margin: 32px;
  justify-content: space-around;
  .item {
    display: flex;
    padding: 4px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 24px;
    &:nth-child(1) {
      background-color: white;
    }
    &:nth-child(2) {
      background-color: red;
    }

    &:nth-child(3) {
      background-color: gold;
    }
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin: 12px;
    }
  }
}