.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  img {
    height: 50px;
    width: auto;
    margin-right: 30px;
  }

  ul {
    display: flex;
    margin: 12px;
    list-style-type: none;
    align-items: center;
    font-size: 32px;
    color: black;
    font-weight: 700;
    &:last-child {
      margin-left: auto;
    }
    li {
      margin-right: 20px;
      font-size: 24px;
      a {
        color: gray;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          color: #ee342c;
        }
        &:active {
          transform: scale(0.95);
        }
        &.active {
          color: #ee342c;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .header {
    flex-direction: column;
    height: auto;
    padding-top: 16px;
  }
}