.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: #11111d;

  img {
    height: 60px;
    width: auto;
  }

  ul {
    display: flex;
    margin: 12px;
    justify-content: space-between;
    list-style-type: none;
    width:35%;
    align-items: center;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    &.first {
      width: 15%;
    }
    li {
      margin-right: 20px;
      font-size: 24px;
      a {
        color: white;
        text-decoration: none;
        font-variant: small-caps;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}