.items {
  display: flex;
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  .item {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    margin: 0 16px;
    border: 1px solid black;
    .itemTitle {
      font-size: 32px;
      font-weight: 700;
      padding: 12px;
      background-color: lightgray;
      border-radius: 5px 5px 0 0;
      color: black;
    }
    h3 {
      color: black;
      font-size: 24px;
      margin: 4px 12px;
      font-weight: 700;
    }
    p {
      color: black;
      font-size: 24px;
      margin: 4px 12px;
      font-weight: 400;
      padding-bottom: 8px;
      border-bottom: 1px solid lightgray;
    }
    ul {
      color: black;
      list-style: none;
      li {
        font-size: 18px;
        font-weight: 500;
        margin: 12px 20px;
      }
    }
  }
  .detailBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}